<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KamCo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>105D6AEC1DABBCD70015453B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>105D6B031DABBCD70015453B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>105D6B0E1DABBCD70015453B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
